.night-sheet {
  width: 210mm;
  min-height: 297mm;
  max-height: 297mm;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: #222;
}

.night-sheet-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.night-sheet .night-title {
  font-family: Dumbledor;
  font-size: 7mm;
  margin: 0;
}

.night-sheet .script-title {
  font-family: "Unlovable", serif;
  font-weight: lighter;

  background: linear-gradient(
    -20deg,
    var(--header-color-light) 50%,
    var(--header-color-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 11mm;
  line-height: 7mm;
  margin: -3mm;
  padding: 3mm;
}

.night-sheet .sheet-content {
  padding: 15mm 15mm;
  gap: 5mm;
}

.night-sheet-order {
  display: flex;
  flex-direction: column;
}

.night-sheet-entry {
  display: flex;
  align-items: center;
  margin-bottom: 1mm;
}

.reminder-name {
  font-family: Goudy Old Style, Goudy Oldstyle, Goudy, Georgia, serif;
  font-weight: 700;
  font-size: 3mm;
}

.reminder-text {
  font-family: "Trade Gothic";
  font-size: 2.6mm;
}

.night-sheet-entry p {
  margin: 0;
}

.night-sheet-entry p strong {
  font-family: Trade Gothic Bold;
}

.night-sheet-entry > img {
  width: 6mm;
  height: 6mm;
  flex-shrink: 0;
  scale: 2;
  margin-right: 2.5mm;
}

.reminder-icon {
  width: 10px;
  scale: 1;
  opacity: 0.8;
  margin-right: 4px;
  margin-bottom: -2px;
}

.info-author-credit {
  font-family: Goudy Old Style, Goudy Oldstyle, Goudy, Georgia, serif;
  font-size: 3.2mm;
  color: #222;
  opacity: 0.6;
  text-align: right;
  margin-bottom: 3mm;
  margin-right: 3mm;
}

.info-author-credit p {
  font-size: 2.5mm;
  margin: 0;
}

.info-footer-container {
  position: relative;
}

.info-footer-background {
  background-image: url(/images/sidebar-desaturated-small.jpg);
  background-size: 105mm;
  width: 100%;
  height: 20mm;
  /* flex-shrink: 0; */
}

.info-footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20mm;
  background-color: rgba(0, 0, 0, 0.2);
  mix-blend-mode: multiply;
}

.spacer {
  flex: 1 0 0px;
}
