.sheet-backing {
  position: relative;
  width: 210mm;
  min-height: 297mm; /* A4 height */
  max-height: 297mm; /* A4 height */
}

.sheet-background {
  width: 210mm;
  min-height: 297mm; /* A4 height */
  max-height: 297mm; /* A4 height */
  background-image: url(/images/sidebar-desaturated-small.jpg);
  background-repeat: repeat;
  background-size: 105mm;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sheet-back-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.sheet-backing h1 {
  font-family: "Unlovable", serif;
  mix-blend-mode: normal;
  font-weight: 100;
  font-size: 30mm;
  color: #ae9d7f;
  text-wrap: wrap;
  z-index: 1;
  flex-shrink: 1;
  text-align: center;
  padding: 10mm;

  background-image: url(/images/parchment_texture.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100mm;
  filter: drop-shadow(0.5mm 0.5mm black) drop-shadow(0mm 0mm 1mm black);
  /* word-break: break-word; */
  word-spacing: -10mm;
  flex: 0 1 130mm;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sheet-backing h1 .ampersand {
  font-size: 45mm;
  line-height: 30mm;
  vertical-align: -5mm;
}

.night-order-container {
  position: absolute;
  background-image: url(/images/parchment_texture.jpg);
  background-position: 0 -50%;
  left: 0;
  bottom: 20mm;
  font-family: Dumbledor;
  z-index: 1;
  background-size: 200mm;
  padding: 4mm;
  box-shadow: inset 0 0 5px #000;

  display: flex;
  flex-direction: column;
  gap: 5mm;
  max-width: 185mm;
}

.night-order {
  z-index: 1;
  display: flex;
  gap: 2mm;
}

.night-order span {
  color: #222;
  height: 6mm;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 23mm;
}

.night-icons {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 2mm;
  flex-wrap: wrap;
}

.night-order-icon {
  width: 6mm;
  scale: 2.1;
  filter: drop-shadow(0px 0px 2px #2224);
}

.title-container {
  z-index: 1;
  display: flex;
  justify-content: center;
}

.minor-word {
  padding: 0 8mm;
  font-size: 15mm;
  word-spacing: -6mm;
  display: flex;
}
